<div class="wrapper">
    <h2 class="title">Welcome to XYZ Channel</h2>
    <p class="description">We encourage people to do things life and create new things and explore new. We have helped so many people through this channel</p>
    <p class="subscribe">Join Our Channel. Become a New Person</p>
    <div class="section">
        <div class="section-main">
            <h3>What we do</h3>
            <img src="assets/image_1.jpeg" alt="explore">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, at assumenda. Suscipit quae vero, delectus incidunt odit rerum voluptate neque deleniti sequi minus error magnam vitae numquam sed optio explicabo excepturi! Vitae eos impedit voluptates, illum sequi praesentium natus error?</p>
    </div>
    <div class="section">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio soluta sunt sed aliquid ipsum saepe explicabo impedit consequatur? Assumenda, saepe quod, laudantium ut nobis porro officiis nemo modi nostrum animi nam cum consequatur veritatis, voluptas nisi quia non mollitia magnam sint corporis reiciendis molestiae. Illum, odio in? At exercitationem, blanditiis assumenda atque nobis quasi totam quo id vel quae, ex, repellendus eum! Iusto ab nobis minus asperiores id amet obcaecati!</p>
        <div class="section-main">
            <h3>What we have acheived</h3>
            <img src="assets/image_2.jpeg" alt="explore">
        </div>
    </div>
</div>
